body{
font-family:Arial, Helvetica, sans-serif;
margin: 400px;
background-color: rgb(4, 0, 45);
background-image: url(     );
}
h1{
    text-align: center;
    color: #d21818;


}
form{


    background-color: rgba(255, 255, 255, 0.673);
    padding: 100px;
    border-radius: 100px;
    max-height: 2000px;
    margin: auto;
    box-shadow: 0 10px 20px rgb(234, 130, 3);
    
    

}

label{
    font-size:bold;
    display: block;
    margin: 10px 0 5px 0;
    border-radius: 20px;   
}
input[type="text"],
input[type="passoword"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="color"],
select,
textarea{
    padding: 10px;
    margin-bottom: 12px;
    border: 5px solid #ccc;
    border-radius: 100px;   
    box-sizing:border-box;
    width: calc(100% - 25%px); 
}
input[type="range"]{
    width: 100%;
    margin-bottom: 10px;
}




button:hover{
    background-color: #882121;
}
.small-input{
    width: auto;
    display:inline-block;
}
.inline-label{
    display:inline-block;
    margin-right: 10px;
}
